<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/svioglasi">Pogledaj sve oglase</a>
        <a href="/dodajoglas">Dodaj oglas</a>
    </nav>
    <div>
        <form action="/filtrirajoglasezaautora" method="POST">
            <label for="">Kategorija: </label> 
            <select name="kategorija">
                #{dataKategorije}
            </select> 
            <button type="submit">Filtriraj</button>
        </form>
    </div>
    <table border="20">
        <thead>
            <tr>
                <td>ID</td>
                <td>Kategorija</td>
                <td>Datum isteka</td>
                <td>Cena</td>
                <td>Tekst oglasa</td>
                <td>Tagovi(oznake)</td>
                <td>E-mails</td>
            </tr>
        </thead>
        <tbody>
            #{data}
        </tbody>
    </table>
</body>
</html>